---
---

@import 'bootstrap';
@import '../_sass/tsd-theme';

.btn-translucent {
  background: rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.65);
  padding: 4px 8px;
  font-size: 13px;

  &:hover {
    color: #FFFFFF;
  }
}

.btn-outline-gray {
  border: 1px solid $gray-400;
  color: $gray-400;

  &:hover {
    border: 1px solid $primary;
    color: $primary;
  }
}

.mw-600 {
  max-width: 600px;
}

.navbar-brand img {
  width: 40px;
  height: 40px;
}

.btn-light {
  border-radius: 18px;
}

.toc,
.toc ul {
  list-style: none;
  padding-left: 16px !important;
}

.nav.text-light {
  .nav-link {
    color: rgba(255, 255, 255, 0.7);
  }

  .nav-link.active,
  .nav-link:hover {
    color: #FFFFFF;
  }
}

.card {
  background: white;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.card.page {
  min-height: 800px;
}

.navigation-button {
  max-width: 49%;
}

.overflow-hidden {
  overflow: hidden;
}

pre.highlight {
  padding: 16px;
  border-radius: 5px;
  background: $gray-100;
}

code {
  color: #586e75;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.h-anchor {
  visibility: hidden;
  font-size: 20px;
}

h1:hover .h-anchor,
h2:hover .h-anchor,
h3:hover .h-anchor,
h4:hover .h-anchor,
h5:hover .h-anchor,
h6:hover .h-anchor {
  visibility: visible;
}

@mixin bg-gradient {
  background: $primary;
  background: -moz-linear-gradient(top, $primary 0%, $secondary 100%);
  background: -webkit-linear-gradient(top, $primary 0%, $secondary 100%);
  background: linear-gradient(to bottom, $primary 0%, $secondary 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$primary}', endColorstr='#{$secondary}', GradientType=0);
}

.bg-gradient {
  @include bg-gradient;
}

.bg-gradient-dynamic {
  --sidenav-height: 300px;
  @include bg-gradient;
  background-repeat: no-repeat;
  background-size: 100% var(--sidenav-height);
}

footer {
  color: $gray-500;
  padding: 100px 0;
}

footer a {
  color: inherit;
}

footer.below-main {
  margin-top: -100px;
  padding-top: 150px;
}