:root {
    --primary-color: #276FFF;
    --secondary-color: #00DBFF;
    --font-size: 0.93rem;
    --font-family: 'Raleway';
    --headings-font-family: 'Raleway';
    --headings-font-weight: 600;
    --headings-color: #333333;
    --headings-line-height: 2;
    --secondary-text-color: #666666;
}
