<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand mr-auto" href="{{ site.url }}">
      <img class="logo" src="{{ site.url }}/img/secondary-logo.svg"/>
      <span class="brand-name pl-1">{{site.title}}</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01"
            aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      {% include navigation.html %}
    </div>

  </div>
</nav>