<ul class="navbar-nav ml-auto mt-2 mt-lg-0">

  {% assign urlParts = page.url | downcase | split: '/' %}
  {% for item in site.data.navigation %}
    <li class="nav-item">
      <a class="nav-link {% if item.name == urlParts[1] %}active{% endif %}"
         href="{{item.link | absolute_url}}">{{item.displayName}}</a>
    </li>
  {% endfor %}
  <li class="nav-item">
    <a class="nav-link" href="https://www.github.com/umbopepato/visua" title="See on GitHub" target="_blank"><i class="fab fa-github"></i></a>
  </li>

</ul>