$primary: #276FFF;
$secondary: #00DBFF;
$headings-font-family: Raleway;
$headings-font-weight: 600;
$font-family-base: Raleway;
$font-size-base: 0.93rem;
$body-color: #666666;
$headings-color: #333333;
$headings-line-height: 2;