// Colors
$primary:               #276FFF;
$secondary:             #00DBFF;
$body-color:            #666666;

// Spacing

// Typography
$font-family-base:      'Raleway';
$font-size-base:        0.93rem;
$headings-font-family:  'Raleway';
$headings-color:        #333333;
$headings-font-weight:  600;
$headings-line-height:  2;