<!doctype html>
<html lang="en">
<head>

  {% include head.html %}

  <title>Visua | Brand identity automation</title>
</head>
<body>
<div class="bg-gradient">
  <header>
    {% include navbar.html %}
    <div class="container pt-4">
      <div class="mw-600 mx-auto text-center text-light py-3">
        Visua is a tool to describe brand design systems using standard CSS.<br>
        It helps you keep brand consistency across products, platforms and teams with
        automated themes and assets builds and much more.
      </div>
      <div class="text-center pt-3 pb-5">
        <a class="btn btn-light text-primary" href="{{ site.url }}/guide/get-started">Get started</a>
      </div>
      <img class="d-block mx-auto mw-1000 w-100" src="{{ '/assets/img/home-illustration.png' | relative_url }}">
    </div>
  </header>
</div>

{{ content }}

<footer class="bg-light mt-3">
  {% include footer.html %}
</footer>
</body>
</html>
